@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-light-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-lightitalic-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-lightitalic-webfont.woff')
        format('woff');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-regular-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-italic-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-medium-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-mediumitalic-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-mediumitalic-webfont.woff')
        format('woff');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-bold-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-bolditalic-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-bolditalic-webfont.woff')
        format('woff');
    font-weight: 700;
    font-style: italic;
  }
}

.element::-webkit-scrollbar {
  display: none;
}

.element {
  scrollbar-width: none;
}

.element {
  -ms-overflow-style: none;
}
