@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-light-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-lightitalic-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-lightitalic-webfont.woff')
        format('woff');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-regular-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-italic-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-medium-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-mediumitalic-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-mediumitalic-webfont.woff')
        format('woff');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-bold-webfont.woff2') format('woff2'),
      url('../../public/font/neuemontreal-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src:
      url('../../public/font/neuemontreal-bolditalic-webfont.woff2')
        format('woff2'),
      url('../../public/font/neuemontreal-bolditalic-webfont.woff')
        format('woff');
    font-weight: 700;
    font-style: italic;
  }
}

/* safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* chromium based */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

.sidebar-list {
  position: relative;
  font-size: 56px;
}

.sidebar-list::before {
  content: '•'; /* Custom marker */
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  font-size: 40px;
  transition: 200ms;
}

.sidebar-list:hover::before {
  transform: translateY(-50%) scale(1);
}

.sidebar-text:hover ~ .sidebar-text-underline,
.sidebar-link:hover .link-text-underline {
  width: 100%;
}
