body {
  font-family: "neue_montrealregular", sans-serif;
}

h1 {
  font-family: "neue_montrealbold", sans-serif;
}

.hero-bg {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 16% 0%,
      hsla(231, 100%, 70%, 0.29) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(343, 0%, 0%, 1) 0px, transparent 50%);
}

.contact-bg {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 0% 53%,
      hsla(231, 100%, 70%, 0.29) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(343, 0%, 0%, 1) 0px, transparent 50%);
}

.about-bg {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 81% 18%,
      hsla(231, 100%, 70%, 0.29) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(343, 0%, 0%, 1) 0px, transparent 50%);
}

.projects-bg {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 100% 48%,
      hsla(231, 100%, 70%, 0.29) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(343, 0%, 0%, 1) 0px, transparent 50%);
}
