body {
  font-family: "neue_montrealregular", sans-serif;
}

#hero h1 {
  font-family: "neue_montrealbold", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
